<!--The content below is only a placeholder and can be replaced.-->
<div id="fullPage">
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>
<!-- <div style="text-align:center">
  <h1 blueColored>Hello World!</h1>
</div>
  <p>Use of ngIF directive</p>

<div *ngIf="visible;then evenClicked else oddClicked"></div>
  <button (click)="toggelOddEven()">Toggle</button>
  <p>Toggel count is: {{counter}}</p>
<ng-template #oddClicked>Odd number of clicks</ng-template>
<ng-template #evenClicked>Even number of clicks</ng-template>
<hr>

<p>Use of ngFor directive</p>
<ul *ngFor="let language of myFavLang; let i=index;">
  <li>{{i}}. {{language.name}} - {{language.type}}</li>
</ul>
<hr>
<p>Use of ngMdoel  directive</p>
Hello {{username}}<br>
<input type="text" [(ngModel)]="username"> -->
